<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>fis-20</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>oc-nexus</id>
          <name>OpenShift nexus</name>
          <url>http://nexus-nexus.rhel-cdk.10.1.2.2.xip.io/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>oc-nexus</id>
          <name>OpenShift nexus</name>
          <url>http://nexus-nexus.rhel-cdk.10.1.2.2.xip.io/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>

